<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "UniAproko"
	version 	= "1.0.0">

	<name>UniAproko</name>

	<description>
		A mobile app that brings the hottest campus gists around town to you 
	</description>

	<author href="http://fyzilcorp.gnbo.com.ng"
		email="atanda.hafiz@gmail.com">
		ATANDA Hafiz
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>

	<icon src="/home/hafiz/Desktop/UniAproko/images (14).jpg" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
